html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.grid {
  width: 202px; /* 20px per cell * 10 cells + 1px border * 2 sides */
  height: 400px; /* 20px per cell * 20 cells + 1px border * 2 sides */
  display: flex;
  flex-wrap: wrap;
  background-color: beige;
  border: 1px solid grey;
  border-radius: 5px;
  overflow: hidden;
  
}

.grid div {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  border-radius: 5px;
}

.tetromino {
  background-color: blue; /* Or any color based on the Tetromino type */
  border: 1px solid white; /* Optional: for better visibility */
}

.taken {
  background-color: grey; /* Or maintain the Tetromino color if you want */
}


.mini-grid {
  margin-left: 40px;
  width: 89px;
  height: 89px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(242, 247, 247);
  border: 1px solid grey;
  border-radius: 5px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* Optional: Adjusts the vertical position relative to the grid */
}

/* Container for buttons */
.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 10px; /* Space between the buttons */
  margin-top: 10px; /* Optional: Adds space above the buttons */
  align-self: flex-start; /* Use margin to align the button with the grid */
  margin-left: 0;
  margin-bottom: 30px;
}

#start-button, #reset-button {
  font-size: 1.17em;
  font-weight: bold;
  padding: 6px 12px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  color: teal;
  font-size: 2em;
  margin-bottom: 20px;
  text-align: left;
  align-self: flex-start; /* Aligns the title to the left edge of the main grid */
  width: 202px; /* Matches the width of the main grid */
}

h3 {
  color: teal; /* Sets the title color to blue */
  margin-top: 20px;
  margin-bottom: 10px;
}
